html {
  font-size: 100%;  
}

*,
*::before,
*::after {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  overflow-x: hidden;
  height: 100vh;
  /* background: rgb(16,32,189);
  background: linear-gradient(-45deg, rgba(16,32,189,1) 0%, rgba(56,16,156,1) 65%, rgba(42,201,232,1) 100%); */
  background-image: url("./../public/3386851.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App{
  position: relative;
  display: block;
}

.weather{
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

nav{  
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;    
  top: 0;
  height: fit-content;
  z-index: 2;
}

h1{
  font-size: 4em;
  font-family: 'Cormorant SC', serif;
  color: white;
  text-align: center;
  
}

.newsfeed{
  position: relative;
  display: flex;
  min-height: 100vh;
  align-items: center; /* horizontal */
  /* justify-content: center; */ /* vertical */
  padding: 16px;
  flex-wrap: wrap;
  flex-direction: column;  
}

.newsfeed-sections{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  top: 0;
  justify-content: center;
}

.newsfeed-sections span{
   position: relative;
   cursor: pointer;
   font-size: 0.875rem ;
   color: gray;
   transition: color 200ms ease-in-out;   
}

.newsfeed-sections span:hover{
  color: white;
}

.newsfeed-sections span::after{
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 5px;
    left: 0;
    right: 0;
    bottom: -15px;       
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.newsfeed-sections span:hover::after{
  background-color: white;
  opacity: 1;
}

.newsfeed-sections span:not(:last-child){
  margin-right: 32px;    
}

.newsfeed-items{/* container of newsfeed items */
  position: relative;
}
.news-feed-item{
  position: relative;
  max-width: 600px;
  height: auto;
  padding: 10px;
  background-color: gainsboro;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px; 
  cursor: pointer;
  transition: all 0.5s;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.news-feed-item:before,.news-feed-item:after{
  content: "";
  z-index: -1;
  position: absolute;
  box-shadow: 0 15px 10px gainsboro;
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: gainsboro;
  transform: rotate(-3deg);
}

.news-feed-item:after{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.news-feed-item-title{
  margin-bottom: 10px;
}

.news-feed-item-content{
  display: flex;
  flex-direction: row;
}

.news-feed-item-abstract{
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.news-feed-item-abstract p{
  margin: 0;
  margin-bottom: 13px;  
}

.news-feed-item-footer{
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
}

.news-feed-item-subtitle{
  margin-top: 10px;
  font-size: smaller;
}

.news-feed-item-section{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 10px;
  font-size: smaller;
  
}
.news-feed-item:hover{
  filter: brightness(120%);
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}